shubham kumar chaturvedi SQL assignment no 7

Q1: Write an SQL query to show only odd rows from aÂ table.

ANS: SELECT * FROM table_name WHERE mod(column_name,2) = 0;

Q2: Write an SQL query to clone a new table from another table.

ANS: CREATE TABLE new_table SELECT * FROM original_table;

CREATE TABLE adminUsers SELECT * FROM users;

CREATE TABLE new_table LIKE original_table;