shubham kumar chaturvedi SQL assignment no 10

Q1: Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

ANS: SELECT * FROM (
SELECT ROW_NUMBER() OVER (ORDER BY SALARY DESC) AS rownumber,Salary.
FROM Employee )
AS foo.
WHERE rownumber = 5.


Q2: Write an SQL query to fetch the list of employees with the same salary.

ANS: select distinct e.name,e.salary from employe e, employe a  where e.salary = a.salary and e.name != a.name;