shubham kumar chaturvedi SQL assignment no 8

Q1: Write an SQL query to fetch intersecting records of two tables.

ANS: SELECT  ID, NAME, Amount, Date

     FROM Customers

     LEFT JOIN Orders

     ON Customers.ID = Orders.Customer_id

INTERSECT

     SELECT  ID, NAME, Amount, Date

     FROM Customers

     RIGHT JOIN Orders

     ON Customers.ID = Orders.Customer_id;


Q2: Write an SQL query to show records from one table that another table does not
have.

ANS: SELECT emp_id,emp_name  

FROM employee_details

WHERE NOT EXISTS

(SELECT *  
   FROM  employee_resigned

   WHERE employee_details.emp_id = employee_resigned.emp_id);


   2.SELECT *
FROM employee_details

WHERE emp_id NOT IN

  (SELECT emp_id  
  FROM employee_resigned)