shubham kumar chaturvedi SQL assignment no 9

Q1: Write an SQL query to show the top n (say 10) records of a table.

ANS: SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

Q2: Write an SQL query to determine the nth (say n=5) highest salary from a table.

ANS: Select Emp_name from table_name where Salary =( Select Salary from table_name order by Salary DESC limit n-1,1);